@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
*{
    font-family: 'Briem hand';
}
body{
    margin: 0;
    padding: 0;
}
.sections{
    display: flex;
    flex-direction: column;
}
.start, .artists, .board, .piano{
    height: 700px;
    width: auto;
}
.start{
    background-image: linear-gradient(100deg, #000000, #00000020), url(https://upload.wikimedia.org/wikipedia/commons/5/5b/Michelangelo_-_Creation_of_Adam_%28cropped%29.jpg);
    background-size: cover;
    font-size: 100px;
    text-align: center;
    top: 50%;
    color: white;
}